@media (max-width: 988px){
    .container{
        width: 750px;
    }   
}
@media (max-width: 770px){
    .container{
        width: 550px;
    }  
    .advantages{
        .advantages__descr{
            width: 180px;
            font-size: 12px;
    
        } 
        .advantages__subtitle{
            font-size: 14px;
        }
        .title{
            font-size: 25px;
        }
    }
    
}
    
