@import 'base/variables';
@import 'base/mixins';
*{
    font-family: 'Museo Sans Cyrl', sans-serif;
    box-sizing: border-box
};
.container{
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
};
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/title';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'base/media';
@import 'blocks/reviews';
@import 'blocks/footer';

